{% extends '_head_foot.html' %}
{% load static %}
{% load i18n %}
{% block head_js %}
<link rel="stylesheet" href="https://cdn.staticfile.net/bootstrap-icons/1.11.3/font/bootstrap-icons.css">
<link rel="stylesheet" href="{% static 'bs_table/bootstrap-table.min.css' %}">
<script src="{% static 'bs_table/bootstrap-table.min.js' %}"></script>
<script src="https://cdn.staticfile.net/apexcharts/3.45.1/apexcharts.min.js"></script>
<script src="{% static 'accounts/js/chart_fuc.js' %}"></script>
<script src="{% static 'accounts/js/account_ana.js' %}"></script>
<script>
  $(document).ready(function() {
    // 隐藏列
    // $('#dataTable').bootstrapTable('hideColumn', 'account_type');
    // $('#dataTable').bootstrapTable('hideColumn', 'repayment_type');
  });
</script>
<style>
    /* 设置大类和小类列的宽度 */
    #dataTable td:nth-child(2) {
      width: 120px; /* 设置宽度，可以根据需求调整 */
    }
    #dataTable td:nth-child(3) {
      width: 160px; /* 设置宽度，可以根据需求调整 */
    }
    #dataTable td:nth-child(8) {
      width: 80px; /* 设置宽度，可以根据需求调整 */
    }
    .hidden-column {
      display: none;
    }
  </style>
{% endblock %}

{% block main_page %}
<h2>{% trans "Assets and liabilities" %}</h2>
  <!-- 表格 -->
  <table class="table table-bordered" id="dataTable">
    <thead>
    <tr>
      <th>{% trans "Account Name" %}</th>
      <th>{% trans "Account Type" %}</th>
      <th>{% trans "Repayment" %}</th>
      <th>{% trans "Init Balance" %}</th>
      <th>{% trans "Interest Rate" %}(%)</th>
      <th>{% trans "Cash Flow" %}</th>
      <th>{% trans "Terms" %}</th>
      <th data-field="account_type" data-visible="false" class="hidden-column">account_type</th>
      <th data-field="repayment_type" data-visible="false" class="hidden-column">repayment_type</th>
      <th>{% trans "Edit" %}</th>
    </tr>
    </thead>
    <tbody>
    <!-- 数据行 -->
    <!-- 表单行 -->
    <tr>
      <td><input type="text" class="form-control" id="name" required></td>
      <td>
        <select class="form-control" id="categoryLarge">
          <option value="Capital_Assets">{% trans "Capital Assets" %}</option>
          <option value="Liquid_Assets">{% trans "Liquid Assets" %}</option>
          <option value="Long-term_Liabilities">{% trans "Long-term Liabilities" %}</option>
          <option value="Current_Liability">{% trans "Current Liability" %}</option>
        </select>
      </td>
      <td>
        <select class="form-control" id="categorySmall">
          <option value="No">{% trans "No" %}</option>
          <option value="Fixed-payment">{% trans "Fixed-payment" %}</option>
          <option value="Interest-first">{% trans "Interest-first" %}</option>
          <option value="Fixed-principal">{% trans "Fixed-principal" %}</option>
          <option value="Upon_maturity">{% trans "Upon maturity" %}</option>
        </select>
      </td>
      <td><input type="text" class="form-control" id="currentValue" value="0" oninput="formatInput(this)"></td>
      <td><input type="number" class="form-control" id="annualRate" value="0" step="0.01"></td>
      <td><input type="number" class="form-control" id="cashFlow" value="0"></td>
      <td><input type="number" class="form-control" id="periods" value="0"></td>
      <td>
        <button class="btn btn-primary btn-sm" onclick="addRow()">{% trans "Add" %}</button>
      </td>
    </tr>
    </tbody>
  </table>
  <!-- 预测按钮 -->
  <button class="btn btn-success btn-block mt-3" id="ana_btn">{% trans "Predict" %}</button>

  <div class="row row-dec row-cards">
    <div class="col-sm-12 col-lg-12">
        <div class="card mt-2">
            <div class="card-body">
                <div class="subheader">{% trans "Prediction of assets and liabilities" %}</div>
                <div id="ana_total_predict"></div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-lg-12">
        <div class="card mt-2">
            <div class="card-body">
                <div class="subheader">{%trans "History of net asset and cash"%}</div>
                <div id="ana_cash_predict"></div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-sm-12 col-lg-12">
        <div class="card mt-2">
            <div class="card-body">
                <div class="subheader">{%trans "Detail of cash flow"%}</div>
                    <table 
                        id="ana_cashflow_table" 
                        data-pagination="true">
                    </table>
            </div>
        </div>
    </div>
</div>



{% endblock %}