{% extends '_head_foot.html' %}
{% load static %}
{% load i18n %}
{% block head_js %}
<link rel="stylesheet" href="https://cdn.staticfile.net/bootstrap-icons/1.11.3/font/bootstrap-icons.css">
{% endblock %}

{% block main_page %}
<h4>{% trans "Check the account balance" %}</h4>
<hr />

<form action="/check_submit/", method="post">
    {% csrf_token %}
    <div class="row row-dec row-cards">
        {%for prop_list in type_prop%}
        <div class="col-sm-12 col-lg-6">
        <div class="card mt-4">
            <div class="card-header">
                {{prop_list.k}}
            </div>
            
            <div class="card-body">
                {%for prop in prop_list.v %}
                <div class="input-group mb-3">
                    <label for={{prop.id}} class="col-3 col-form-label">{{prop.name}}</label>
                    <input type="number" class="form-control" name={{prop.id}} id={{prop.id}} value={{prop.remains}}>
                    <span class="input-group-text">{% trans "$" %}</span>
                </div>
                {%endfor%}
            </div>
        </div>
        </div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
  </form>

{% endblock %}