{% extends '_head_foot.html' %}
{% load static %}
{% load i18n %}
{% block head_js %}
<link rel="stylesheet" href="https://cdn.staticfile.net/bootstrap-icons/1.11.3/font/bootstrap-icons.css">
<link rel="stylesheet" href="{% static 'bs_table/bootstrap-table.min.css' %}">
<script src="{% static 'bs_table/bootstrap-table.min.js' %}"></script>
<script src="https://cdn.staticfile.net/apexcharts/3.45.1/apexcharts.min.js"></script>
<script src="{% static 'accounts/js/chart_fuc.js' %}"></script>
<script src="{% static 'accounts/js/report.js' %}"></script>
{% endblock %}

{% block main_page %}

<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3 col-lg-1" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" 
      type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">{%trans "Account overview"%}</button>
      <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" 
      aria-controls="v-pills-profile" aria-selected="false">{%trans "History report"%}</button>
      <button class="nav-link" id="v-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-disabled" type="button" role="tab" 
      aria-controls="v-pills-disabled" aria-selected="false">{%trans "Prediction report"%}</button>

    </div>
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
        <div class="row row-dec row-cards">
            <div class="col-sm-6 col-lg-3">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="subheader">{% trans "Total Assets" %}</div>
                        <h5 id="assets">￥5000</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="subheader">{%trans "Total Liabilities" %}</div>
                        <h5 id="debt">￥4000</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="subheader">{%trans "Net asset"%}</div>
                        <h5 id="net">￥4000</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="subheader">{%trans "Liquid Fund"%}</div>
                        <h5 id="cash">￥4000</h5>
                    </div>
                </div>
            </div>
        
            <div class="col-sm-12 col-lg-6">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="subheader">{%trans "Asset Composition"%}</div>
                        <div id="assets_part"></div>
                    </div>
                </div>
            </div>
        
            <div class="col-sm-12 col-lg-6">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="subheader">{%trans "Liability Composition"%}</div>
                        <div id="det_part"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="subheader">{%trans "Income"%}</div>
                        <h5 id="income_total">￥5000</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="subheader">{%trans "Expense"%}</div>
                        <h5 id="outcome_total">￥4000</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="subheader">{%trans "Net Income"%}</div>
                        <h5 id="netcome_total">￥4000</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="subheader">{%trans "Interest Expense"%}</div>
                        <h5 id="netcome_total">￥4000</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="subheader">{%trans "Income Composition"%}</div>
                        <div id="income_part"></div>
                    </div>
                </div>
            </div>
        
            <div class="col-sm-12 col-lg-6">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="subheader">{%trans "Expense Composition"%}</div>
                        <div id="outcome_part"></div>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
        <div class="row row-dec row-cards">
            <div class="col-sm-12 col-lg-12">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="subheader">{%trans "History of assets and liabilities"%}</div>
                        <div id="total_change"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="subheader">{%trans "Detial of selected month"%}</div>
                            <table 
                                id="total_month_detail" 
                                data-pagination="true">
                            </table>
                    </div>
                </div>
            </div>
        
            <div class="col-sm-6 col-lg-6">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="subheader">{%trans "Details of assets and liabilities"%}</div>
                            <table 
                                id="total_change_table" 
                                data-pagination="true">
                            </table>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab" tabindex="0">
        <div class="row row-dec row-cards">
            <div class="col-sm-12 col-lg-12">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="subheader">{% trans "Prediction of assets and liabilities"%}</div>
                        <div id="total_predict"></div>
                    </div>
                </div>
            </div>
        
            <div class="col-sm-12 col-lg-12">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="subheader">{%trans "History of net asset and cash"%}</div>
                        <div id="cash_predict"></div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
  


{% endblock %}